<ion-view view-title="Contact">
  <ion-content>
 	<div align="center">
    <img src="../img/safewalklogo.jpg">
  </div>
  <div align="center">
  	 <b>Phone Number</b>	604-821-5355 <br> <br> 
  	 <b>Hours of Operation</b> 7pm-2am Nightly <br> <br>
  	 <b>Location</b> SUB 100A <br> <br> <br>
  	 <b>Safewalk Coordinator</b> <br> <br>
  	 Alejandra Zubiria Perez <br> <br>
  	 SUB 249B <br> <br>
  	 604-822-2181 <br> <br>
  	 safewalk@ams.ubc.ca <br> <br>
  	 http://www.ams.ubc.ca/services/safewalk/


  </div>

  </ion-content>
</ion-view>
