<ion-view view-title="Profile">
  <ion-header-bar>
    <h1 class="title">Welcome</h1>
	</ion-header-bar>
	<ion-content>
<!-- 	<div class="item item-image"> -->
    <img src="safewalk_logo.gif">
  <!-- </div> -->
	<div>
		We are students at UBC EECE 418 Human Computer Interaction course and we are simulating requesting Safewalk with mobile app instead of making a phone call. None of the data used in the forms will be saved so please go through the app as if you are really using it. Please do not refresh the page during the experiment! 
	</div>
	<button class="button button-block button-positive">
	  Start
	</button>
</ion-content>
</ion-view view-title>